:root {
    /* colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);

    /* font-weight */
    --regular: 400;
    --medium: 600;
    --bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: var(--grey900);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    padding: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    background-color: var(--grey800);
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.card img {
    height: 5rem;
    border-radius: 50%;
}

.card__content {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__content .name {
    font-size: 1.75rem;
    font-weight: var(--bold);
}

.card__content .location {
    font-size: 1rem;
    font-weight: var(--medium);
    color: var(--green);
    line-height: 200%;
}

.card__title {
    font-size: 1rem;
    white-space: nowrap;
    font-weight: var(--regular);
    color: var(--white);
}

.card .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    color: var(--white);
    list-style-type: none;

}

.card .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border: none;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--grey700);
    font-weight: var(--medium);
    color: var(--white);
    text-decoration: none;
}

.card .links a:hover {
    background-color: var(--green);
    color: var(--grey900);
    font-weight: var(--bold);
}

.card .links a:active {
    background-color: var(--green);
    color: var(--grey900);
    font-weight: var(--bold);
}

.attribution {
    color: var(--white);
    padding: 1rem;
    font-size: 11px;
    text-align: center;
    font-weight: var(--bold);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}